fieldset {
	width: 60%;
	margin: 0 auto;
	min-width: 400px;
}

a {
	color: darkslategrey;
}

main p {
	font-size: 2em;
}

legend {
	font-size: 3em;
	font-weight: 600;
	color: #1D1D50;
	text-align: center;
}

h2 {
	margin-top: 1em;
	font-size: 3em;
	font-weight: 600;
	color: #6D6D56;
	text-align: center;
}

iframe {
	width: 60%;
	height: 10em;
}

input[type="checkbox"] {
	width: 2em;
	height: 2em;
}

input[type="text"],
input[type="email"] {
	width: 90%;
	height: 2em;
	font-size: 24px;
	font-weight: 100;
	color: #242424;
	text-align: center;

}

button {
	display: block;
	width: 15em;
	height: 5em;
	margin-left: 40%;
	background-color: aqua;

}

textarea {
	font-size: 0.5em;
	font-weight: 100;
}

input[type="submit"],
input[type="reset"] {
	font-size: 1.5em;
	font-weight: 100;
	color: #242424;
	text-align: center;
	margin-left: 25%
}

main li {
	font-size: 24px;
	font-weight: 400;
	color: #535353;
	text-align: center;
}
