* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

fieldset {
	width: 60%;
	margin: 0 auto;
	min-width: 450px;
}

a {
	color: darkslategrey;
}

main p {
	font-size: 2em;
}

legend {
	font-size: 3em;
	font-weight: 600;
	color: #1D1D50;
	text-align: center;
}

h2 {
	margin-top: 1em;
	font-size: 3em;
	font-weight: 600;
	color: #6D6D56;
	text-align: center;
}


input[type="checkbox"] {
	width: 2em;
	height: 2em;
}

input[type="text"],
input[type="email"] {
	width: 90%;
	height: 2em;
	font-size: 24px;
	font-weight: 100;
	color: #242424;
	text-align: center;
}

textarea {
	font-size: 0.5em;
	font-weight: 100;
}

input[type="submit"],
input[type="reset"] {
	display: block;
	width: 50%;
	float: left;
	font-size: 2em;
	font-weight: 100;
	color: #242424;
	text-align: center;
	background-color: #8598B1;
	border-radius: 45%;
	margin: 5% 0;
}

main li {
	font-size: 24px;
	font-weight: 400;
	color: #535353;
	text-align: center;
}

@media screen and (min-width: 899px) {

	fieldset {
		width: 900px;
		margin: 0 auto;
	}

}
