html {
    background-color: #f8f8f8;
}

.menu li {
    list-style-type: none;
    font: bold 15px;
    color: #4D4D4D;
}

.menu li a {
    color: darkgray;
    font-size: 18px;
    text-decoration: none;
}

h1,
h3 {
    color: black;
    font: bold 18px;
    background-color: #eaeaea;
    font-weight: 400;
    text-align: center
}

/*.short - Описание товара, Дополнительно, Примечание*/
.short + p {
    color: #707070;
    font: 14px;
    font-style: italic;
    line-height: 16px;
}

.detailed + p {
    color: #484343;
    font: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.characteristics + ul {
    color: dimgray;
    font-weight: 900;
    line-height: 25px;
    list-style-image: url(../imgs/snow.png);
}

.nested_list {
    list-style-image: none;
}

.price + p {
    font: bold 14px sans-serif;
}

.contacts + ul {
    list-style-type: none;
}

input[type="text"] {
    height: 25px;
    width: 300px;
    color: #7F3F3F;
    font: bold 20px serif;
}

textarea,
legend {
    color: #7F3F3F;
    font: bold 20px serif;
}


img {
    outline-color: gray;
    outline-style: double;
    outline-width: thin;
}

/* рамка меняется при наведении*/
img:hover {
    outline: 3px solid #7F3F3F;
}

.catalog,
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
