html {
    background-color: #f8f8f8;
}

.header {
    display: block;
    height: 150px;

}

.header .logo {
    display: block;
    float: left;
    outline: none;
    width: 100px;
    margin-left: 50px;
    margin-top: 50px;
}

.menu {
    list-style-type: none;
    background-color: #E6E6FA;
    display: block;
    float: left;
    width: 600px;
    height: 100px;
}

.header .menu li {}

.header .menu li a {
    display: block;

    color: darkgray;
    font-size: 18px;
    background-color: #E6E6FA;
    text-transform: uppercase;
    text-decoration: none;
    width: 100%;
    height: 100%;
}

.header .menu ul {
    clear: both;
    display: block;
}

.header .container {
    position: relative
}

/*
.menu li ul li {
    clear: both;
    visibility: hidden;
    margin-left: -2em;
    height: 70px;
    width: 200px;
 
    transition: all 0, 5s ease;
}


.menu li:hover ul li {
    visibility: visible;
    clear: both;
    margin-left: -2em;
    transition: all 0.6s ease;
}

*/

.menu li a:hover {
    text-decoration: underline;
    color: blue;
}


main {
    clear: both;
}


h1,
h3 {
    color: black;
    font: bold 18px;
    background-color: #E6E9FA;
    font-weight: 400;
    text-align: center;
}

/*.short - Описание товара, Дополнительно, Примечание*/
.short + p {
    color: #707070;
    font: 14px;
    font-style: italic;
    overflow: hidden;
}

.detailed + p {
    color: #484343;
    font: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.characteristics + ul {
    color: dimgray;
    font-weight: 900;
    line-height: 25px;
    list-style-image: url(../imgs/snow.png);
}

.price + p:first-letter,
.short + p:first-letter,
.detailed + p:first-letter {
    font-style: italic;
    font-size: 200%;
    color: #8A2BE2;
}

.nested_list {
    list-style-image: none;
}

.price + p {
    font: bold 14px sans-serif;
}

.contacts + ul {
    list-style-type: none;
}

input[type="text"] {
    height: 25px;
    width: 300px;
    color: #7F3F3F;
    font: bold 20px serif;
}

textarea,
legend {
    color: #7F3F3F;
    font: bold 20px serif;
}

input[type="email"] {
    color: blue;
    background-color: ;
    height: 25px;
    width: 300px;
    font: bold 20px serif;
}

input[type="email"]:focus {
    background: lightblue;
    color: green;
}

input[type="text"],
textarea {
    text-transform: capitalize;
}

img {
    outline-color: gray;
    outline-style: double;
    outline-width: thin;
}

img:hover {
    outline: none;
}

.catalog {
    display: flex;
    list-style-type: none;
    flex-flow: row wrap;
    justify-content: space-between;
}

.catalog li {
    display: block;
    width: auto;
}

fieldset {
    width: 250px;
}

fieldset:nth-last-of-type(2) {
    color: aqua
}

table {
    border: 1px solid red;
    border-collapse: collapse;
    text-align: center
}

table td {
    border: 1px solid red;
    height: 70px;
    width: auto;
}

table thead td {
    background-color: antiquewhite;
    height: 100px;
}

footer {
    display: block;
    height: 80px;
    background-color: #C9C9FA;
    text-align: end;
    padding-top: 50px;
    padding-right: 30px;

}

.image_for_sale {
    display: block;
    float: left;
    margin-right: 5px;
    margin-top: 0px;
}

.catalog img {

    width: 150px;
    height: 100px;
}

.price {
    clear: both;
}

button {
    display: block;
    clear: both;
    float: left;
    width: 300px;
    height: 30px;
}

button:hover {
    font: 20px bold;
    background-color: dimgrey;
}

button:active {
    color: green;
    font: 20px bold;
    background-color: dimgrey;
}

iframe {
    width: 100%;
    height: 374px;
}
