* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	background-color: #E6F1FF;
}

html a {
	text-decoration: none;
}

html li {
	list-style-type: none;
}

.container {
	display: flex;
	flex-direction: column;
	min-height: 100%;
	width: 90%;
	margin: 0 auto;
}

main {
	flex: 1 0 auto;
}

.header {
	display: flex;
	width: 100%;
}

.logo img {
	height: 5em;
	border-radius: 50%;
	margin-right: 1em;
}

.basket img {
	margin-left: 1em;
	height: 5em;
}

.menu {
	display: table;
	width: 100%;
	border-collapse: collapse;
}

.menu-ul {
	display: table-row;
	background-color: transparent;
	list-style: none;
}

.menu-ul-li {
	display: table-cell;
	outline: 1px solid #999999;
}

.menu-ul li a {
	display: inline-block;
	width: 100%;
	height: 5em;
	line-height: 5em;
	font-size: 1.2em;
	text-align: center;
}

.menu-ul li a:hover {
	background-color: #6C87E3;
}

.menu-ul ul {
	opacity: 0;
	transition: all .1s ease-out;
	display: none;
	visibility: hidden;
	position: relative;
}

.menu-ul li:hover > ul {
	visibility: visible;
	opacity: .9;
	display: block;
	position: absolute;
}

.menu-ul li ul li a {
	display: inline-block;
	width: 100%;
	height: 3em;
	font-size: 1.5em;
	line-height: 1em;
	text-align: center;
	background-color: #c9c9c9;
	padding-top: 1em;
}


#nav_button {
	display: none;
	width: 50px;
	height: 50px;
	font-size: 2.5em;
	text-align: center;
	background-color: #FFFFFF;
	border: 1px solid #949494;
	cursor: pointer;
}

h1 {
	margin-top: 2em;
	font-size: 3em;
	font-weight: 600;
	color: #1D1D50;
	text-align: center;
	background-color: #8598B1;
	border-radius: 90%;
}

.index {
	margin-top: 2em;
	font-size: 2em;
	font-weight: 100;
	color: #8598b1;
	text-align: center;
}

.footer {
	height: 60px;
	background-color: grey;
	flex: 0 0 auto;
}


@media screen and (min-width: 899px) {
	.container {
		width: 90%;
		min-height: 100%;
		margin: 0 auto;
	}

	.logo img {
		width: 10em;
		height: 10em;
	}

	h1 {
		font-size: 5em;
		font-weight: 600;
		color: #2e353d;
		text-align: center;
		margin-top: 0;
	}

	p {
		margin-top: 2em;
		font-size: 3em;
		font-weight: 100;
		text-align: center;
	}

	.footer {
		height: 3em;
		flex: 0 0 auto;
		font-size: 2em;
		padding-bottom: 0;
	}
}

@media screen and (max-width: 399px) {
	.container {
		min-width: 150px;
		width: 90%;
		min-height: 100%;
		margin: 0 auto;
		position: relative;
	}

	.header {
		width: auto;
	}

	.logo {
		position: absolute;
		margin-left: 40%;
	}

	.basket {
		margin-left: 70%;
	}

	.logo img {
		height: 3em;
	}

	.basket img {
		height: 2em;
		margin-left: 0;
	}

	.menu {
		position: relative;
		width: auto;
	}

	h1 {
		font-size: 1em;
		font-weight: 300;
		color: #2e353d;
		text-align: center;
		margin-top: 0;
	}

	p {
		font-size: .5em;
		font-weight: 300;
		text-align: center;
	}

	.menu-ul {
		display: none;
		position: absolute;
		width: 100%;
		z-index: 20;
	}

	.menu-ul li {
		display: list-item;
		outline: 1px solid grey;
	}

	.menu-ul li a {
		display: inline-block;
		width: 100%;
		height: 2em;
		line-height: 2em;
		font-size: 1.2em;
		text-align: center;
	}

	#nav_button {
		display: inline-block;
	}

	.menu:hover,
	.menu.open_nav {
		width: 100%;
	}

	.menu:hover ul,
	.menu.open_nav ul {
		display: table-column;
	}

	.menu-ul li ul li a {
		display: inline-block;
		width: 100%;
		height: 3em;
		font-size: 1em;
		line-height: 1em;
		text-align: center;
		background-color: #c9c9c9;
	}


	.menu-ul li:hover > ul,
	.menu-ul li ul:hover {
		visibility: visible;
		opacity: .9;
		display: block;
		margin-left: 5em;
	}

	.footer {
		height: 2em;
		flex: 0 0 auto;
		font-size: .3em;
	}
}
